<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<title>用户注册</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../lib/bootstrap-3/css/bootstrap.min.css">
	<!--图标-->
	<link rel="stylesheet" type="text/css" href="../css/login/font-awesome.min.css">
	<!--布局框架-->
	<link rel="stylesheet" type="text/css" href="../css/login/util.css">
	<!--主要样式-->
	<link rel="stylesheet" type="text/css" href="../css/login/main.css">
</head>

<body>

	<div class="login">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="../img/login/img-01.png" alt="IMG">
				</div>

				<form class="login100-form validate-form">
					<span class="login100-form-title">
						用户注册
					</span>

					<div class="wrap-input100 validate-input">
						<input class="input100 user-name" type="text" name="userName" placeholder="请输入用户名">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100 password" name="password" placeholder="请输入密码">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn register">
							立即注册
						</button>
					</div>

					<div class="text-center p-t-12">
						<a class="txt2" href="javascript:">
							
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="#">
							
							
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- 警告框 -->
	<div class="alert alert-info" role="alert">...</div>
	<div class="alert alert-danger" role="alert">...</div>

	<script src="../js/jquery.min.js"></script>
	<script src="../lib/bootstrap-3/js/bootstrap.js"></script>
	<script src="../js/tool.js"></script>
	<script src="../network/network.js"></script>
	<script src="../js/register.js"></script>

</body>

</html>